/**
 *   Created on : 2014.12.04., 19:54:55
 *   Author     : Lajos Molnar <lajax.m@gmail.com>
 */

#toggle-translate-wrapper {
    display: block;
    position: fixed;
    padding: 5px;
    border: 1px solid #d7d7d7;
    background: #FFF;
    color: #d7d7d7;
    text-align: center;
}

#toggle-translate-wrapper .tm-title {
    float: left;
    padding: 0 5px;
    font-weight: bold;
    color: orange;
}

#toggle-translate-wrapper a {
    display: inline-block;
    color: #0a6aa1;
    text-decoration: none;
    padding: 0 5px;
}

#toggle-translate-wrapper a.switch {
    margin-left: 0;
    padding-left: 0;
}

#toggle-translate-wrapper a.switch-enabled {
    color: #00d95a;
    font-weight: bold;
}

#toggle-translate-wrapper a.switch-disabled {
    color: red;
}

#toggle-translate-wrapper.top-left {
    top: 0;
    left: 0;
}

#toggle-translate-wrapper.top-right {
    top: 0;
    right: 0;
}

#toggle-translate-wrapper.bottom-left {
    bottom: 0;
    left: 0;
}

#toggle-translate-wrapper.bottom-right {
    bottom: 0;
    right: 0;
}

span.language-item.translatable {
    border-bottom: 1px solid red;
    cursor: pointer;
}

#toggle-translate-wrapper #toggle-translate {
    color: orange;
}

#translate-manager-dialog .translate-manager-message {
    background: #E0E0E0;
    border: 1px solid #B8B8B8;
    padding: 5px;
    margin: 0 0 10px;
}

#translate-manager-dialog .translate-manager-message textarea {
    width: 100%;
    border: 1px solid #FFCC66;
    height: 100px;
}

#translate-manager-dialog textarea.ar-AR {
    direction: rtl;
}

#translate-manager-error {
    opacity: 1;
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin: 10px 0 20px;
    padding: 15px;
    transition: opacity 0.15s linear 0s;
}